{% extends "base.html" %}
{% block titulo %}Ejercicios-Equipo{% endblock %}
{% block content %}
    <h2>Super equipo 11-3</h2>
    <table border="1">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Posicion</th>
            <th>goles</th>
        </tr>
        {% for dato in datos %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ dato.nombre }}</td>
            <td>{{ dato.posicion }}</td>
            <td>{{ dato.goles }}</td>
            
            
        </tr>
        {% endfor %}
        <tr>
            <th>Total Goles</th>
            <th colspan="3">{{total}}</th>
        </tr>
    </table>
{% endblock %}